#!/usr/bin/env bash

# Reload if any of these files change
watch_file nix/* .envrc.vagrant .envrc.local

# Build a folder that contains all the tools
[[ -n $(command -v nix-build) ]] && nix-build ./nix -A env --out-link ./env

# Load devshell
[[ -f ./env/env.bash ]] && source ./env/env.bash

# allow envrc overrides
[[ -f .envrc.local ]] && source_env .envrc.local
