##############################
## Visual Studio Code
##############################
.vscode/

##############################
## OS X
##############################
.DS_Store

##############################
## Node
##############################
node_modules/

##############################
## Direnv
##############################
/.direnv
/.envrc.local
.env.local

##############################
## Nix
##############################
/result*
/env
